<div class="row">
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
</div>
<div class="row">
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
</div>
<div class="row">
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"><%= image_tag "back.png" %></div>
  <div class="col-md-2"></div>
</div>

<div class='btn-group'>
  <a href="/home/index"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
</div>
<div class='btn-group'>
  <a href="/home/result"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
</div>
